<footer>
    <div style="display: flex; margin: 10px; gap: 20px; justify-content: center; text-align: center;">
        <a href="/contact/" class="socialsLink" title="Message Me">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://github.com/RachaelMiki1215" target="_blank" class="socialsLink" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://codepen.io/rachaelmiki1215" target="_blank" class="socialsLink" title="CodePen">
            <i class="fa fa-brands fa-codepen"></i>
        </a>
        <a href="https://twitter.com/RachaelMiki1215" target="_blank" class="socialsLink" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/rachael-buxton" target="_blank" class="socialsLink" title="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div style="text-align: center; font-size: x-small; margin-bottom: 5px;">
        This website is hosted on 
        <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
    </div>
</footer>