<footer class="footer-area">
    <div style="display: block">
        <div>
            This website is hosted on 
            <a href="https://pages.github.com/">GitHub Pages</a>.
        </div>
        <div style="display: flex; margin: 10px; gap: 20px; justify-content: center;">
            <a href="https://github.com/RachaelMiki1215">
                <img src="/assets/icons/GitHub-Mark-Light-32px.png" alt="RachaelMiki1215's GitHub" target="_blank" width="32px" />
            </a>
            <a href="https://twitter.com/RachaelMiki1215">
                <img src="/assets/icons/2021 Twitter logo - white.png" alt="RachaelMiki1215's Twitter" target="_blank" width="32px" />
            </a>
        </div>
    </div>
</footer>