<footer>
    <div style="text-align: center;">
        This website is hosted on 
        <a href="https://pages.github.com/">GitHub Pages</a>.
    </div>
    <div style="display: flex; margin: 10px; gap: 20px; justify-content: center; text-align: center;">
        <a href="/contact/" class="socialsLink">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://github.com/RachaelMiki1215" target="_blank" class="socialsLink">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/RachaelMiki1215" target="_blank" class="socialsLink">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/rachael-buxton" target="_blank" class="socialsLink">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</footer>