---
---

@import " {{ site.theme }} ";

@font-face {
    font-family: titleFont;
    src: url('fonts/DigitalgeometricBold-z8gPL.otf');
}

$background-color: #404040;
$div-color: #303030;
$div-color-2: #484848;
$font-color: #f5f5f5;
$accent-color: #f08080;

* {
    color: $font-color;
    transition: 0.3s;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    font-weight: bolder;
    color: $accent-color;
    word-wrap: break-word;
}
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

hr {
    width: 80px;
    align-self: center;
    border-top: none;
    border-bottom: 10px dotted $div-color-2;
    border-left: none;
    border-right: none;
    margin: 15px 0px;
}

p, ul, ol, dl {
    margin-top: 20px;
}

a, a:link, a:visited, a:active {
    color: $accent-color;
    text-decoration: none;
}

// TODO: Clean up input/text-area/button styles.
input, textarea, button {
    background-color: $div-color;
    border: none;
    border-radius: 10px;
}
input, textarea {
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input[type=submit], button {
    padding: 15px 20px;
    cursor: pointer;
}
input[type=submit]:hover, button:hover {
    background-color: $accent-color;
    color: $background-color;
}

footer, #titleArea, navbar, #sub-navbar, #search-button, #menu-hamburger, #search-box {
    z-index: 10;
    position: fixed;
    backdrop-filter: blur(10px);
}
footer, navbar, #sub-navbar, #search-button, #menu-hamburger, #search-box {
    background-color: rgba($color: $div-color, $alpha: 0.4);
}

#titleArea {
    font-family: titleFont;
    font-size: 2.5rem;
    display: inline-block;
    background-color: rgba($color: $accent-color, $alpha: 0.2);
    padding: 2px 20px 10px 2px;
    border-bottom-right-radius: 20px;

    a, a:active, a:link, a:visited {
        color: $font-color;
        text-align: center;
    }
    a:hover {
        color: $accent-color;
        font-size: 120%;
    }
}

/* TODO: Change right to 60px once search function could be implemented */
navbar, #menu-hamburger {
    right: 10px;
    border-radius: 0 0 20px 20px;
    vertical-align: middle;
    height: 50px;
}
navbar {
    text-transform: uppercase;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px 20px;
    width: fit-content;

    a, a:active, a:link, a:visited {
        color: $font-color;
        text-align: center;
    }
    a:hover {
        color: $accent-color;
        font-size: 120%;
    }
}
navbar .selected-domain {
    color: $font-color;
}
#menu-hamburger {
    width: 50px;
    cursor: pointer;
}
#menu-hamburger:hover > i {
    color: $accent-color;
    transform: scale(1.4);
}
#menu-hamburger:hover + navbar {
    display: flex;
    top: 40px;
    right: 40px;
}

#sub-navbar {
    display: flex;
    flex-direction: row;
    right: -200px;
    top: 60px;
    width: 200px;
    padding: 10px 20px 10px 10px;
    border-radius: 20px 0 0 20px;
}
#sub-navbar:hover {
    right: 0;
}
#sub-navbar-arrow {
    width: 0;
    height: 0;
    border-right: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    align-self: center;
}
#sub-navbar-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    width: 100%;

    a, a:active, a:link, a:visited {
        color: $font-color;
        text-align: right;
    }
    a:hover {
        color: $accent-color;
        font-size: 120%;
    }
}

@media screen and (min-width: 830px) {
    navbar {
        display: flex;
        flex-direction: row;
    }
    #menu-hamburger {
        display: none;
    }
}
@media screen and (max-width: 829.9px) {
    navbar {
        display: none;
        flex-direction: column;
        height: fit-content;
        border-radius: 20px;
    }
    navbar:hover {
        display: flex;
        top: 40px;
        right: 40px;
    }
    #menu-hamburger {
        display: flex;
    }
}

#search-button {
    right: 0;
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
}
#search-box {
    display: none;
    top: 40px;
    right: 10px;
    padding: 10px 20px;
    border-radius: 20px;
}
#search-button:hover > i {
    color: $accent-color;
    transform: scale(1.4);
}
#search-button:hover + #search-box, #search-box:hover, #search-box:focus-within {
    display: flex;
}

footer {
    align-self: center;
    bottom: -25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: 75px;
    border-radius: 20px 20px 0 0;
}
footer:hover {
    bottom: 0;
}

main {
    margin: 70px 10px 30px 10px;
    display: flex;
    flex-direction: column;
}

.updatedDate {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.4);
    margin: 5px 10px;
}

.projectDescDl {
    background-color: $div-color;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    margin: 0;
    
    dt {
        font-weight: bold;
    }
    
    dd {
        margin-left: 40px;
    }
}

.keywordDiv {
    background-color: #303030;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;

    span:not(:first-child) {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 3px solid $font-color;
    }
}

.comparisonTable {
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    width: auto;
    background-color: transparent;

    table, thead, tbody, tr, tr:nth-child(even), th, td {
        background-color: transparent;
        border: none;
    }

    th, td {
        vertical-align: top;
    }

    td:first-child, th:first-child {
        width: 0%;
        font-weight: bold;
    }

    td:nth-child(odd), th:nth-child(odd) {
        background-color: $div-color;
    }
    td:nth-child(even), th:nth-child(even) {
        background-color: $div-color-2;
    }

    thead th {
        border-radius: 10px 10px 0 0;
        font-weight: bold;
    }
    tbody tr:last-child td {
        border-radius: 0 0 10px 10px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.highlightedText {
    padding: 2px 5px;
    background-color: $accent-color;
}

.tryMe, .srcCodeButton, .demoButton {
    background-color: $background-color;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    a, a:visited, a:active, a:link, a:hover {
        text-decoration: none;
    }
}
.tryMe {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.srcCodeButton, .demoButton {
    padding: 2px 10px;
    margin-left: 4px;
}
.tryMe:hover, .srcCodeButton:hover, .demoButton:hover {
    background-color: $accent-color;
    color: $font-color
}
.srcCodeButton::after {
    content: "src";
}
.demoButton::after {
    content: "Demo";
}

.socialsLink {
    width: 32px;
    height: 32px;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    border-radius: 10px;
}
.socialsLink:hover > i {
    color: $accent-color;
    transform: scale(1.4);
}

.fa, .fab, .fas, .fa-solid {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
}

.collapseTitle {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid $accent-color;
    width: 0;
    height: 0;
    margin-left: 4px;
    transform: scale(0.8);
}
.collapseTitle:hover {
    background-color: $accent-color;
    * {
        color: $font-color;
    }
    .arrow {
        border-top: 16px solid $font-color;
    }
}
.collapsed {
    .arrow {
        transform: rotate(-90deg) scale(0.8);
    }
}