<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="grid-container">
      
      {%- include top-navbar.html -%}

      <div class="side-navbar">
        {%- for article in site.blog -%}
          <a href="{{ article.url }}">{{ article.title }}</a>
        {%- endfor -%}
      </div>

      <main class="content-area">
        {{ content }}
      </main>

      {%- include footer.html -%}

    </div>

  </body>

</html>