<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="grid-container">
      
      {%- include top-navbar.html -%}

      <div class="side-navbar">
        {%- for project in site.projects -%}
          {%- if page.url contains project.url -%}
            <a href="{{ project.url }}" style="color: lightcoral">{{ project.title }}</a>
          {%- else -%}
            <a href="{{ project.url }}">{{ project.title }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <main class="content-area">
        <h1>{{ page.title }}</h1>
        <div style="font-size: small; margin-bottom: 20px;">Updated: {{ page.updated }}</div>
        <div>{{ page.short-description }}</div>
        <div class="project-parameters">
          <d1>
            <dt>Keywords: </dt>
            <dd>{{ page.keywords | join: ", " }}</dd>
            <dt>Languages: </dt>
            <dd>{{ page.language | join: ", " }}</dd>
            <dt>Source Code: </dt>
            <dd>
              {%- case page.source-code.site -%}
                {%- when "GitHub" -%}
                  <a href="{{ page.source-code.url }}" alt="GitHub" target="_blank">
                    <img src="/assets/icons/GitHub-Mark-Light-32px.png">
                  </a>
              {%- endcase -%}
            </dd>
            {%- if page.distributed -%}
              <dt>Distributed: </dt>
              <dd>
                {%- case page.distributed.site -%}
                  {%- when "NuGet" -%}
                    <a href="{{ page.distributed.url }}" target="_blank">NuGet</a>
                {%- endcase -%}
              </dd>
            {%- endif -%}
          </d1>
        </div>
        <div>
          {{ content }}
        </div>
      </main>

      {%- include footer.html -%}

    </div>

  </body>

</html>